<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Check your answers" %}

<!-- For adding a breadcrumb or back link -->
{% block beforeContent %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
		<h1>Check your answers before sending your status</h1>

        {% set wordOne = data.wordOne | upper %}
        {% set wordTwo = data.wordTwo | upper %}

        {{ summaryList({
            rows: [
                {
                    key: {
                        text: "Team"
                    },
                    value: {
                        html: "Team" + " " + data.team
                    },
                    actions: {
                        items: [
                        {
                            href: "what-team-are-you?cya=true",
                            text: "Change",
                            visuallyHiddenText: "team"
                        }
                        ]
                    }
                },
                {
                    key: {
                        text: "National faithful number"
                    },
                    value: {
                        html: data.number
                    },
                    actions: {
                        items: [
                        {
                            href: "national-faithful-number?cya=true",
                            text: "Change",
                            visuallyHiddenText: "national faithful number"
                        }
                        ]
                    }
                },
                {
                    key: {
                        text: "Days as a faithful"
                    },
                    value: {
                        html: data.daysFaithful
                    },
                    actions: {
                        items: [
                        {
                            href: "days-faithful?cya=true",
                            text: "Change",
                            visuallyHiddenText: "tangram code"
                        }
                        ]
                    }
                },
                {
                    key: {
                        text: "Unscrambled words"
                    },
                    value: {
                        html: wordOne + ' ' + wordTwo
                    },
                    actions: {
                        items: [
                        {
                            href: "maze-scramble?cya=true",
                            text: "Change",
                            visuallyHiddenText: "unscrambled word"
                        }
                        ]
                    }
                }
            ]
        }) }}

        <p>This information will be sent to the National Faithful Service to confirm your status.</p>
        
        <form action="check-your-answers" method="post" novalidate>
            {{ button({
                text: "Confirm and send"
            }) }}
        </form>
    </div>
</div>
{% endblock %}
