<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Failure" %}

<!-- For adding a breadcrumb or back link -->
{% block beforeContent %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {{ panel({
            titleText: "Registration failed",
            text: "We could not confirm your faithful status",
            classes: "red-bg"
        }) }}

        <p>Unfortunately you have either answered the questions incorrectly, or have been sabotaged by a traitor amongst your ranks.</p>

        {% if data.team == "1" %}
            <!-- Team 1 answers -->
            {{ table({
                responsive: false,
                panel: false,
                caption: "Team 1 answers",
                firstCellIsHeader: true,
                head: [
                    {
                    text: "Question"
                    },
                    {
                    text: "Your answer"
                    },
                    {
                    text: "Correct answer"
                    }
                ],
                rows: [
                    [
                    {
                        text: "National faithful number"
                    },
                    {
                        html: data.number
                    },
                    {
                        text: "925461738"
                    }
                    ],
                    [
                    {
                        text: "Days as a faithful"
                    },
                    {
                        html: data.code
                    },
                    {
                        text: "111"
                    }
                    ],
                    [
                    {
                        text: "Unscrambled words"
                    },
                    {
                        html: data.one + data.two + data.three + data.four + data.five + data.six + data.seven + data.eight
                    },
                    {
                        text: "abruptly"
                    }
                    ]
                ]
            }) }}
        {% endif %}
        
        {% if data.team == "2" %}
            <!-- Team 2 answers -->
            {{ table({
                responsive: false,
                panel: false,
                caption: "Team 2 answers",
                firstCellIsHeader: true,
                head: [
                    {
                    text: "Question"
                    },
                    {
                    text: "Your answer"
                    },
                    {
                    text: "Correct answer"
                    }
                ],
                rows: [
                    [
                    {
                        text: "National faithful number"
                    },
                    {
                        html: data.number
                    },
                    {
                        text: "925461738"
                    }
                    ],
                    [
                    {
                        text: "Days as a faithful"
                    },
                    {
                        html: data.code
                    },
                    {
                        text: "147"
                    }
                    ],
                    [
                    {
                        text: "Unscrambled words"
                    },
                    {
                        html: data.one + data.two + data.three + data.four + data.five + data.six + data.seven + data.eight
                    },
                    {
                        text: "abruptly"
                    }
                    ]
                ]
            }) }}
        {% endif %}
    </div>
</div>
{% endblock %}
